@import url(http://fonts.googleapis.com/css?family=Audiowide);

h1 {
  color: #fff;
  font-family: "Audiowide", cursive;
  font-size: 2em;
  font-size: 6vw;
  line-height: 1.2;
  margin: 0.5em 0 3em;
  text-shadow: 1px 1px 1px #333;
}

@media (min-width: 67.1875em) {
  h1 {
    font-size: 4em;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #120103;
  color: #fff;
  text-align: center;
}

header {
  background: #3E474F;
  box-shadow: 0 .5em 1em #111;
  position: absolute;
 bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}
header label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 4.25em;
  font-size: .75em;
  font-weight: bold;
  padding: 0 1em;
}

header label:hover {
  background: #2e353b;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-color: #120103;
background-position:10% 60%;
  background-size: cover;
  -webkit-transition: left 0s .75s;
  transition: left 0s .75s;
}
.slide-one {
  background-image: url("http://www.kedvenclekvarom.hu/31/fruit-de-bereg-500g-szilvalekvar-szilkeben.jpg");
}

.slide-two{
  background-image: url("http://m.cdn.blog.hu/it/itthoneszakalfoldon/image/Szatm%C3%A1ri%20Fesztiv%C3%A1l_Penyige_tom.JPG");
}

.slide-two:hover {background:rgba(225,225,225,0.5);}
.slide-three {
  background-image: url("http://m.cdn.blog.hu/it/itthoneszakalfoldon/image/Szatm%C3%A1ri%20Fesztiv%C3%A1l_Penyige_tom.JPG");
}
.slide-four {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/65463/lakehouse.jpg");
}
.slide h1 {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity .5s, -webkit-transform .5s .5s;
  transition: opacity .5s, -webkit-transform .5s .5s;
  transition: transform .5s .5s, opacity .5s;
  transition: transform .5s .5s, opacity .5s, -webkit-transform .5s .5s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  -webkit-transition: left .65s ease-out;
  transition: left .65s ease-out;
}
[id^="slide"]:checked + .slide h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
}


body, h3 {
  background: url('http://www.wallpapereast.com/static/images/blue-pattern.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}


#wrapper {
  display: inline-block;
  border: 10px double #182559;
   background:rgba(156, 191, 249,0.5)
}

.whitebox {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
}

.white {
  background-color:rgba(144, 170, 227,1);
  display: inline-block;  box-shadow: 0 0 0px #000000, 0 0 40px #1C3762 inset;

}

h4 {
  color: #FFF;
  font-weight: 100;
  font-family: "Fredoka One";
  font-size: 50px;
 background-image:url('http://blueblots.com/wp-content/uploads/2010/02/16-Bandwidth-Blue-pattern.jpg');  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 5px;
  padding: 0 30px; 


}

h3 {
  font-family:sarif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0 20px;
  font-size: 30px;font-family:Comfortaa
}

@media all and (max-width: 480px){
  h4 {
    padding: 0 0 25px 0;
    font-size: 12vw;
  }
  
  
  
  h3 {
    font-size: 7vw;
  }
}





.wrapper2 {
  width: 100%;
  position: relative;
  margin: 0px auto;left:-500px
}
.wrapper2 .screenshot {
  width: auto;
  height: 450px;
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.wrapper2 .screenshot:nth-child(1) {
  margin-top: 160px;
}
.wrapper2 .screenshot:nth-child(2) {
  margin-top: 80px;
}
.wrapper2:hover .screenshot {
  margin-top: 0px;
  -moz-transform: skew(0deg, 0deg);
  -webkit-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}
.wrapper2:hover .screenshot:nth-child(1) {
  margin-left: 800px;
}
.wrapper2:hover .screenshot:nth-child(2) {
  margin-left: -190px;
}
.wrapper2:hover .screenshot:nth-child(3) {
  margin-left: 150px;
}
